/* 
font-family: "Inter", sans-serif;
font-family: "Quicksand", sans-serif;
*/
*{
    /* border: 1px solid red; */
}
:root{
    --header-background: #0C70AC;
    --hero-background: #0C70AC;
    --destination-background: #FFFFFF;
    --footer-background: #001C2D;
    --blog-background: #E6E6E6;
    --title-color: #000000;
    --text-color: #7C7C7C;
    --link-color: #fff;
    --hover-color: #F4DE1F;
    --section-borders: #fff;
    --transparent-text: rgba(255, 255, 255, 0.5);
}
/* header */
.header{
    background-color: var(--header-background);
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid var(--section-borders);
}
.container{
    width: 1620px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav-list{
    display: flex;
    justify-content: center;
    gap: 95px;
}
.header-nav-link{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--link-color);
    text-transform: uppercase;
    transition-duration: 250ms;
}
.header-nav-link:hover,
.header-nav-link:focus{
    color: var(--hover-color);
}
/* hero */
.hero{
    background-color: var(--hero-background);
}
.hero-positioning-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-title{
    width: 665px;
    color: var(--link-color);
    font-weight: 700;
    font-size: 64px;
}
.hero-text{
    width: 665px;
    color: var(--transparent-text);
    font-weight: 700;
    font-size: 32px;
}
.diver-img{
    width: 510px;
    height: 600px;
}
/* destinations */
.destinations{
    background-color: var(--destination-background);
    padding-top: 80px;
    padding-bottom: 80px;
}
.section-title{
    margin-bottom: 50px;
    text-align: center;
    color: var(--title-color);
    font-weight: 600;
    font-size: 40px;
}
.destinations-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.destinations-card{
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.destinations-card-img{
    width: 520px;
    height: 342px;
    margin-bottom: 30px;
}
.destinations-card-title{
    font-weight: 500;
    font-size: 36px;
    color: var(--title-color);
    margin-bottom: 15px;
}
.destinations-card-text{
    font-weight: 500;
    font-size: 24px;
    color: var(--title-color);
    margin-bottom: 30px;
}
.destinations-card-link{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    text-decoration: underline;
    color: var(--text-color);
}
/* blog */
.blog{
    background-color: var(--blog-background);
    padding-bottom: 80px;
    padding-top: 80px;
}
.blog-card-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.blog-card-img{
    width: 520px;
    height: 342px;
    margin-bottom: -4px;
}
.blog-card-wrap{
    padding-top: 25px;
    background-color: var(--destination-background);
    padding-left: 40px;
    padding-bottom: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.blog-card-date{
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);
}